        html
        {
            font-size: 16px;
            margin: 0;
            height: 100%;
            font-family: Helvetica, Arial, sans-serif;
			 overflow-x:hidden; 
        }
        head {
        }
        header {
            position: fixed;
			padding-top: 0;
            top: 0;
            min-height: 5%;
            background-color: #adbdbd ;
            height: 54px;
            display: flex;
            justify-content: space-between;
			
            width: 100%;
            margin: 0 auto 0 auto;
        }
        body {
			 overflow-x:hidden; 
            margin: 0;
            background-color: #FFFFFF;
            height: 100%;
			display: flex;
			/*flex-direction: column*/

        }
        sidebar

        {
            display: block;

            padding: 0.4%;
            /*width: 10%;*/
            right: 0;
            top:5%;
            height: 100%;
            font-size: min(1.3vmax,17px);
        }
        .sidebar
        {position: fixed;
        background-color: #adbdbd ;
            top:53px;
            right: 0;
            width: 5%;
            margin-left:auto ;
            height: 100%;
            display:var(--Display,block);
            transform-origin:right center;
            animation-fill-mode:forwards;
        }

        main {
            display: flex;
            flex-direction: column;
            width: 93%;
            margin: 65px 0 0;
        }

        h1 {
            margin: 0.5rem;
			display: flex;
            color: #000000;
        }
		h2 
		{
			text-decoration: underline;
			margin: 0.5rem;
		}

        p {

            margin: 1rem;
            color: #000000;
            display: flex;
        }
        a
        {

        }
        div
        {
            padding: 0.5% 0.5% 0.5% 0.5%;
        }
        button.cornerButton
        {
            width: 40px;
            background-color: #adbdbd;
            border: thin solid #000000;
            border-radius: 3px;
        }


        large {font-size: 20px}
        form {
            margin: 2rem;
            color: #000000;
            display: block;}
        button.field {background-color: #adbdbd;
			border-radius: 9px;
			width: 40%;
			height: 25%;
			font-size: 130%;
			font-weight: bold;
			cursor: pointer;}
			
		button.CreateExcerise {background-color: #adbdbd;
			border: 1px solid #000000;
			border-radius: 5px;
			width:max(10%,80px);
			Height:75%;
			font-size: 0.75rem; 
			font-weight: normal; 
			cursor: pointer;}
		button.CreateExcerise:hover {background-color: #8BA2A2;}
        input {
			border-radius: 3px;
			border-style: solid;
			border-width: 1px;
            font-size: 20px;
            display: block;
            margin: 0.5rem 0.5rem 0.5rem 0;
            width: 40%;
            /*height: 3rem;*/
            outline: None;
            border-color: #000000;
            color: #000000;
        }
        input:focus {transition: border-width 0s;
            border-width: 2px;
        ;
            outline-width: 0;}
        div.ErrorBox
        {
            background-color: #cddada;
            display:block;
            font-size: 130%;
            width: auto;
            height: 50px;
            border: 5px groove #adbdbd;
            font-style: oblique;
            padding-right: 2% ;
            margin: 2%;
			border-radius: 4px;

        }
        div.post
        {

            display: flex;
            flex-direction: column;
            width: 70%;
            min-height: 1%;
            height: auto;
            border: thin solid #888888;
            border-radius: 6px;
            margin: 1%;
            text-overflow: revert;
            word-break: break-all;

        }
		div.post:hover
		{
			background-color: #e9eceb;
			cursor: pointer; 
			
			
		}
		div.comment
        {

            display: flex;
            flex-direction: column;
            width: 70%;
            min-height: 1%;
            height: auto;
            border: thin solid #888888;
            border-radius: 6px;
            margin: 1%;
            text-overflow: revert;
            word-break: break-all;

        }
        div.likeBar
        {
            margin-top: auto;
            margin-left: auto;

        }
        a.ExcersiseTitleText
        {
            color: #000000;
            width: auto;
            font-size: min(1.8vmax,16px);
			
            text-decoration: underline;
            text-transform: capitalize;



            padding: 0.1em;
        }
				a.ExcersiseTitleText:hover
		{
			background-color: #DDE1E0;
			
		}
		a.PostTitle
		{
			color: #000000;
            width: auto;
            text-decoration: none;
            text-transform: capitalize;
			font-size: min(2.2vmax,22px); 
			text-decoration: underline;
			padding: 0.1em;
			
		}
		a.PostTitle:hover
		{
			background-color: #DDE1E0;
		}

        a.postUsername
        {
            margin-top: 1%;
            width: 70%;
            font-size: 14px;
            text-decoration: underline;
            text-transform: capitalize;

            color: #9c9c9c;
            padding: 0.1em;



        }
		a.postUsername:hover
		{
			background-color: #DDE1E0;
			
		}
        button.likeButton
        {
            padding: 0;
            /*border: none;
            --background: none;
            cursor: pointer;*/
        }

        div.title{		display: flex;
            flex-direction: row;
            text-overflow: ellipsis;
            width: auto;

            margin-bottom: 0;

        }
		
        p.description
        {
            margin: 0;
            color: #9c9c9c;
            font-size: min(1.3vmax,15px);
			display: -webkit-box;
			max-width: 99%;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
        }
		a.sideBarButton
		{
		display: block;
            padding: 0;
            border: none;
            background: none;
			color: #000000;
			/*margin-left: auto;
			width: auto;*/
			text-decoration: none;

			font-size: min(20px,1.1vmax);
			margin-top: 0.5em;
		}
		a.sideBarButton:hover
		{
			text-decoration: underline;
			
		}
        .loginPopUp
        {
            display: None;
            position: fixed;
            width: 50%;
            height: 70%;
            top: 15%;
            left: 15%
        }
        .loginPopUp .loginBackground
        {

        background-color: #DDE1E0;
            display: inline-block;
        width: 100%;
        height: 100%;
            border-radius: 10px;
            border: 4px solid #adbdbd;
        }
        .loginBackground .LoginText
        {
            width: auto;
            height: auto;
            display: block;
            text-align: center;
            font-size: min(2.2vmax,22px);
            padding: 15% 15% 5%;


        }
        .loginPopUp.show
        {
            display: block;
            animation: FadeIn 0.2s;
        }
        @keyframes FadeIn {
            0% {display: block}
            from {opacity: 0.5}
            to {opacity: 1}
            100% {display: none}
        }
        input.Search{width: 88%; border: none; display:inline-block; margin: 0;font-size: 16px;height: 65%;}
        input.Search:focus {background-color: transparent}
        img{  user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;}
        form.searchBar{border-color: #000000; 
		border-style: solid; 
		border-radius: 6px; 
		border-width: thin; 
		margin: 0.25%; }
        form.searchBar:focus-within{transition: background-color 0.2s;
            background-color: #d6dbde;}
		PostMain {
			display: flex;
            flex-direction: column;
			width:100%;
			height:auto
		}
		p.PostTitle
		{
			font-size: 30px;
			margin: 1rem;
		}
		a.PostExcersiseTitleText
		{
			font-size: 20px
            color: #000000;
            width: auto;
			margin-left: 1rem;
            text-decoration: underline;
            text-transform: capitalize;
			color: #000000;
			    margin-block-end: 0.2;
				padding: 0.1em;
        }
		a.PostExcersiseTitleText:hover
		{
			background-color: #DDE1E0;
		}
		a.MainpostUsername{
			font-size: 15px;
            text-decoration: underline;
            text-transform: capitalize;
           /* color: #9c9c9c; */
            padding: 0.1em;
			color: #000000;
			margin-left: 1rem;

        }
		a.MainpostUsername:hover
		{
			background-color: #DDE1E0;
			
		}
			
		a.PostDescription{font-size: 17px;}
		.ts-control{vertical-align: baseline;
		align-items: center;
		display:flex;
		border-color: black;

		}
		.item {padding:0}
		
		textarea.Commentbox{text-align:start; border-radius:3px;}