{% extends 'index.html' %}
{% block content %}
    <p> <large>Create Account</large><p>
        {% for mesg in get_flashed_messages() %}
      <div class = "ErrorBox">{{ mesg }}</div class = "ErrorBox">
      {% endfor %}
    <div>
        <form method="POST"
              action="/CreateAccountCheck/{{Follow}}">
            <input type="text"
                   name="Name"
                   placeholder="FirstName">
            <input type="text"
                   name="username"
                   placeholder="Username">
            <input type="password"
                   name="password"
                   placeholder="Password">
            <input type="password"
                   name="password2"
                   placeholder="Please Enter Password Again">
            <button class = "field", type="submit">Create</button>
        </form>
    </div>
    <br>
    <br>
    <div>
        <p><large>Have An Account Already?&nbsp; <a href="/login">Login</a></large></p>
    </div>

{% endblock %}