{% extends 'index.html' %}
{% block content %}
    <body class="body">
    <p> <large>Create Account</large><p>
        {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</h1>
      {% endfor %}
    <div>
        <form method="POST"
              action="{{ url_for('CreateAccountCheck') }}">
            <input type="text"
                   name="Name"
                   placeholder="Name">
            <input type="text"
                   name="username"
                   placeholder="Username">
            <input type="password"
                   name="password"
                   placeholder="Password">
            <input type="password"
                   name="password2"
                   placeholder="Please Enter Password Again">
            <large><button type="submit">submit</button></large>
        </form>
    </div>
    <br>
    <br>
    <div>
        <p><large>Have An Account Already?&nbsp; <a href="/login">Login</a></large></p>
    </div>
    </body>

{% endblock %}