{% extends 'index.html' %}
{% block content %}
<div style = "display:flex;flex-direction: row;width: 100%;justify-content: space-between; ">
<h2 style="width: 40%">
{{ExcersiseData[2]}}
</h2>
    <div style="width: 90%;height: 80%;padding-left:40% ">
        <form action = "/exercise/{{ExcersiseData[0]}}/search" style="display: inline-flex; align-items:center;width:90%;height: 80%;background-color: #FFFFFF; flex-direction: row" class = "searchBar" >
            <label for="Search" style="width: 20px">
                <img draggable="false" style="width: 100%;"
                     class="Search"
                     src = "{{url_for('static', filename='images/search_icon.png')}}" alt=""
                >
            </label>
            <input class="Search"
                   type="text"
                   id="Search" name="Search"
                   placeholder="Search {{ExcersiseData[2]}}"
                   VALUE="{{ExSearchInput | default('')}}"
            >
        </form>
    </div>
</div>
<div style = "width: 20%; margin-left: 0.5%;">
    <button onclick="location.href='/newpost/{{ExcersiseData[0]}}'" style = "width: 100%; height:100%; margin-left: 2%; padding: 7px; font-size: 16px" class = "CreateExcerise">Post</button>

</div>
<div>
	{%for data in Data%} <!-- ID Data[0] Title Data[1] Like = data[4] Dislike Data5 -->
<div class = "post" onclick="RedirectTo('/post/{{data[0]}}')">


    <div class = "title">

        <a class = "PostTitle" href = "/post/{{data[0]}}">{{data[1]}}</a>
        <p style="margin-left: auto; margin-top: 0;color: #888888">{{data[9]}} at {{data[8]}}</p>
    </div>
    <a class = "ExcersiseTitleText" href = "/exercise/{{data[3]}}">{{data[6]}}</a>
    <div>
        <a class = "postUsername" href = "/users/{{data[7]}}">{{data[7]}}</a>
    </div>
	{% if data[2]|length > 0 %}
    <div>

        <p class="description">{{data[2]}}
        </p>
	</div>
	{%endif%}

    
    <div class = "likeBar">
         <button class = "likeButton" id="Like:{{data[0]}}"
                            onclick={%if ID == 0 %} "OpenPopUp('popUp');ChildClicked();" {%else%} "SendLike({{ID}}, 1,{{data[0]}});updateLikes('{{data[0]}}');ChildClicked();" {%endif%} >
        {{data[4]}}&nbsp👍</button>
        <button class = "likeButton" id="Dislike:{{data[0]}}"
                onclick= {%if ID == 0 %} "OpenPopUp('popUp');ChildClicked();" {%else%} "SendLike({{ID}}, -1,{{data[0]}}); updateLikes('{{data[0]}}');ChildClicked();" {%endif%} >
        {{data[5]}}&nbsp👎</button>
    </div>
</div>
	{%endfor%}
	
	</div>

<script src = "{{url_for('static', filename='scripts/SendRequests.js')}}"> </script>
<script src = "{{url_for('static', filename='scripts/Redirect.js')}}"> </script>
{% endblock %}