{% extends 'index.html' %}
{% block content %}
    <body class="body">
    <!-- {{ super() }} -->

	{%if ID != 0 %}
    <p> <large>Hello {{ User  }} With ID {{ ID }}</large></p>
	
	{%else%}
    <p> <large>You are not logged in,&nbsp; <a href="/login">Login </large></a></p>
	{%endif%}
    <p>Lorem ipsum dolor sit amet adipiscing bibendum sem orci tempus aliquet gravida,
        orci amet iaculis aptent blandit quam accumsan donec in facilisis,
        cursus ante curabitur aliquet condimentum tincidunt facilisis
        non cubilia lorem et pretium aliquam phasellus ipsum metus quisque auctor tristique donec nibh,
        praesent congue ultricies aenean ornare ligula sagittis proin
        sed vestibulum purus tempus aenean neque aliquam curae vivamus purus egestas ligula tincidunt nullam.
    </p>
    <p>
	{% if User == ""%}
    <a href="/login">Login</a>
	{%else%}
	<a href="/LogOut">LogOut<a>
	{%endif%}
	
	
    </p>
    </body>


{% endblock %}