{% extends 'index.html' %}
{% block content %}
    <!-- {{ super() }} -->
      {% for mesg in get_flashed_messages() %}
      {% endfor %}
	{%if ID != 0 %}
    <p> <large>Hello {{ User  }} With ID {{ ID }}</large></p>
	
	{%else%}
    <p> <large>You are not logged in,&nbsp; <a href="/login">Login </large></a></p>
	{%endif%}
	<div class = "postBlock">
    <p>Lorem ipsum dolor sit amet adipiscing bibendum sem orci tempus aliquet gravida,
        orci amet iaculis aptent blandit quam accumsan donec in facilisis,
        cursus ante curabitur aliquet condimentum tincidunt facilisis
        non cubilia lorem et pretium aliquam phasellus ipsum metus quisque auctor tristique donec nibh,
        praesent congue ultricies aenean ornare ligula sagittis proin
        sed vestibulum purus tempus aenean neque aliquam curae vivamus purus egestas ligula tincidunt nullam.
    </p>
	
	
	{%for data in HomeData%} <!-- ID Data[0] Title Data[1] Like = data[4] Dislike Data5 -->
<div class = "post">


    <div class = "title">

        <a class = "postTitleText" style= "font-size: min(2.2vmax,22px); text-decoration: underline" href = "/exercise/{{data[3]}}">{{data[6]}}</a>
        <p style="margin-left: auto; margin-top: 0;color: #888888">{{data[9]}} at {{data[8]}}</p>
    </div>
    <a class = "postTitleText" href = "/post/{{data[0]}}">{{data[1]}}</a>
    <div>
        <a class = "postUsername" href = "/users/{{data[7]}}">{{data[7]}}</a>
    </div>
	{% if data[2]|length > 0 %}
    <div>

        <p class="description">{{data[2]}}
        </p>
	</div>
	{%endif%}

    
    <div class = "likeBar">
        {{data[4]}} <button class = "likeButton" id="Like:{{data[0]}}">&nbsp👍</button> {{data[5]}}<button class = "likeButton" id="Dislike:{{data[0]}}">&nbsp👎</button>
    </div>
</div>
	{%endfor%}
	
	</div>
	<!--

    <p>
	{% if User == ""%}
    <a href="/login">Login</a>
	{%else%}
	<a href="/LogOut">LogOut<a>
	{%endif%}
	
	
    </p>
	-->



{% endblock %}