<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="{{url_for('static', filename='styles/Style.css')}}" /> 
	
    <title>GymSy</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<header>
    <h1> <a href="/home" style=" color: #000000; text-decoration: none;  ">
        GymSy
    </a>
	</h1>
	<h1>
        <!--
	{%if ID == 0%}
	<a class = "sideBarButton" href="/login">Login</a>
	{%elif ID != 0%}
	<a class = "sideBarButton" href="/accountsettings">Account</a>
	{%endif%}
	-->
        <button class = "cornerButton" onclick="SwapBar()">
            <large>=</large>
        </button>
    </h1> <!-- for example -->
	
</header>
<body class="body">
<main id = "Main">
{% block content %}
    <p> Hello World <p>
{% endblock %}
</main>
<div class="sidebar" id = "SideBar">

    <Sidebar>
		<h1>
	<a class = "sideBarButton" href="/home">Home</a>
	</h1>
	<h1>
	{%if ID == 0%}
	<a class = "sideBarButton" href="/login">Login</a>
	{%elif ID != 0%}
	<a class = "sideBarButton" href="/accountsettings">Account</a>
	{%endif%}
	</h1>

	
    </Sidebar>
</div>
<script src = "{{url_for('static', filename='scripts/SideBar.js')}}"> </script>
</body>
</html>
