<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/dohjs@latest/dist/doh.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="{{url_for('static', filename='styles/Style.css')}}" /> 
	
    <title>GymSy</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<header>
    <h1> <a href="/home" style=" color: #000000; text-decoration: none;  ">
        GymSy
    </a>
	</h1>
	<h1>
        <!--
	{%if ID == 0%}
	<a class = "sideBarButton" href="/login">Login</a>
	{%elif ID != 0%}
	<a class = "sideBarButton" href="/accountsettings">Account</a>
	{%endif%}
	-->
        <button class = "cornerButton" onclick="SwapBar()">
            <large>=</large>
        </button>
    </h1> <!-- for example -->
	
</header>

<div class = "loginPopUp" id = 'popUp'>

    <span class = "loginBackground">
        <button class = "cornerButton" style="background-color: transparent;
        display: block;
        margin-left: auto; margin-right: 2px; margin-top: 2px"  onclick="OpenPopUp('popUp')">X</button>
        <a class = "LoginText">
        Please Log In To Continue
            </a>
            <div style="align-content: center">
        <form method="POST" style="margin: 0; padding: 5% 25% 5% 25%"
              action="{{ url_for('CheckLogin') }}">
            <input type="text"
                   name="username"
                   placeholder="Username"
                   style="width: 90%">
            <input type="password"
                   name="password"
                   placeholder="Password"
                   style="width: 90%;">
            <button class = "field", type="submit"
                    style="width: 90%;
            background-color: #eceded;
            height: 2em">
                Login
            </button>
        </form>
    </div>
    <div>
        <p><large> NO ACCOUNT? &nbsp; <a href="/createaccount"> Create account </a></large></p>
    </div>
    </span>

</div>



<body class="body">
<main id = "Main">
{% block content %}
    <p> Hello World <p>
{% endblock %}
</main>
<div class="sidebar" id = "SideBar">

    <Sidebar>
		<h1>
	<a class = "sideBarButton" href="/home">Home</a>
	</h1>
	<h1>
	{%if ID == 0%}
	<a class = "sideBarButton" href="/login">Login</a>
	{%elif ID != 0%}
	<a class = "sideBarButton" href="/accountsettings">Account</a>
	{%endif%}
	</h1>

	
    </Sidebar>
</div>
<script src = "{{url_for('static', filename='scripts/SideBar.js')}}"> </script>
<script src = "{{url_for('static', filename='scripts/PopUp.js')}}"> </script>
</body>
</html>
