<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" >
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <!--<script src="https://cdn.jsdelivr.net/npm/dohjs@latest/dist/doh.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Reddit+Sans">
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='styles/Style.css')}}" /> 
	
    <title>GymSy</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<header>
    <h1> <a href="/home" style=" color: #000000; text-decoration: none;  ">
        GymSy
    </a>
	</h1>
    <div style="width: 90%;height: 80%;padding-left:40% ">
        <form action = "/search" style="display: inline-flex; align-items:center;width:90%;height: 80%;background-color: #FFFFFF; flex-direction: row" class = "searchBar" >
            <label for="Search" style="width: 20px">
                <img draggable="false" style="width: 100%;"
                     class="Search"
                     src = "{{url_for('static', filename='images/search_icon.png')}}" alt=""
                >
            </label>
            <input class="Search"
                   type="text"
                   id="Search" name="Search"
                   placeholder="Search"
                   VALUE="{{SearchInput | default('')}}"
            >
        </form>
    </div>
	<h1>
        <!--
	{%if ID == 0%}
	<a class = "sideBarButton" href="/login">Login</a>
	{%elif ID != 0%}
	<a class = "sideBarButton" href="/accountsettings">Account</a>
	{%endif%}
	-->
        <button class = "cornerButton" onclick="SwapBar()">
            <large>=</large>
        </button>
    </h1> <!-- for example -->
	
</header>

<div class = "loginPopUp" id = 'popUp'>

    <span class = "loginBackground">
        <button class = "cornerButton" style="background-color: transparent;
        display: block;
        margin-left: auto; margin-right: 2px; margin-top: 2px"  onclick="OpenPopUp('popUp')">X</button>
        <a class = "LoginText">
        Please Log In To Continue
            </a>
            <div style="align-content: center">
        <form method="POST" style="margin: 0; padding: 5% 25% 5% 25%"
              action="{{request.scheme}}://{{ request.host }}/CheckLogin/{{request.path}}">
            <input type="text"
                   name="username"
                   placeholder="Username"
                   style="width: 90%">
            <input type="password"
                   name="password"
                   placeholder="Password"
                   style="width: 90%;">
            <button class = "field", type="submit"
                    style="width: 90%;
            background-color: #eceded;
            height: 2em">
                Login
            </button>
        </form>
    </div>
    <div>
        <p><large> NO ACCOUNT? &nbsp; <a href="{{request.scheme}}://{{ request.host }}/createaccount/{{request.path}}"> Create account </a></large></p>
    </div>
    </span>

</div>



<body class="body">
<main id = "Main">
{% block content %}
    <p> Hello World <p>
{% endblock %}
</main>
<div class="sidebar" id = "SideBar">

    <Sidebar>
		<h1>
	<a class = "sideBarButton" href="/home">Home</a>
	</h1>
	{%if ID| default(0) == 0%}
        <h1>
	<a class = "sideBarButton" href="/login">Login</a>
        </h1>
        <h1>
        <a class = "sideBarButton" onclick="OpenPopUp('popUp');" href="javascript:void(0);"> Post </a>
        </h1>
	{%elif ID| default(0) != 0%}
        <h1>
	<a class = "sideBarButton" href="/accountsettings">Account</a>
        </h1>
        <h1>
        <a class = "sideBarButton" href="/newpost"> Post </a>
        </h1>
	{%endif%}

	
    </Sidebar>
</div>
<script src = "{{url_for('static', filename='scripts/SideBar.js')}}"> </script>
<script src = "{{url_for('static', filename='scripts/PopUp.js')}}"> </script>


</body>
</html>
