{% extends 'index.html' %}
{% block content %}
    <body class="body">
    <p> <large>Login</large><p>
        {% for mesg in get_flashed_messages() %}
      <p>{{ mesg }}</p>
      {% endfor %}
    <div>
        <form method="POST"
              action="{{ url_for('CheckLogin') }}">
            <input type="text"
                   name="username"
                   placeholder="Username">
            <input type="password"
                   name="password"
                   placeholder="Password">
            <large><button type="submit">submit</button></large>
        </form>
    </div>
    <br>
    <br>
    <div>
        <p><large> NO ACCOUNT? &nbsp; <a href="/createaccount"> Create account </a></large></p>
    </div>
    </body>

{% endblock %}