{% extends 'index.html' %}
{% block content %}
    <p> <large>Login</large><p>
        {% for mesg in get_flashed_messages() %}
      <div class="ErrorBox">{{ mesg }}</div>
      {% endfor %}
    <div>
        <form method="POST"
              action="/CheckLogin/{{Follow}}">
            <input type="text"
                   name="username"
                   placeholder="Username"
				   style = "height: 3rem"
				   required>
            <input type="password"
                   name="password"
                   placeholder="Password"
				   style = "height: 3rem"
				   required>
            <button class = "field", type="submit">Login</button>
        </form>
    </div>
    <br>
    <br>
    <div>
        <p><large> NO ACCOUNT? &nbsp; <a href="/createaccount/{{Follow}}"> Create account </a></large></p>
    </div>

{% endblock %}