{% extends 'index.html' %}
{% block content %}

<form style = "margin:0; display: flex; width:100%; flex-direction: column; height: 100%;"
      method="POST"
      action="/CreatePost">


<div style="display: inline-flex; align-items: center;">


<input required class = "TitleBox" style = "margin:0.5%", placeholder = "Title" name = "title"></input>

<div style = "margin: 0; display: inline-flex; align-items: center; width: 100%;">


<select required id="option" class = "select" placeholder="Select an excersise..." autocomplete="on" style = "width:100%" name = "excersise">
			<option value="">Select an excersise...</option>
    {%for d in Data%}
        <option value="{{d[0]}}">{{d[1]}}</option>
    {%endfor%}
		</select>



<button onclick="location.href='/newexcersise'" class = "CreateExcerise" id = "CreateExButton" style = "height:100%; padding:3px">
Create New Excersise
</button>


</div>
</div>
<div style = "padding: 1%; padding-top:0; ">

<textarea name = "description"  required placeholder = "Description" id = "Description" class = "Commentbox" style = "resize: none; width:75%; font-size:14px" rows="20" cols="50" ></textarea>

</div>
<div style = "padding:1%; height: 100%; padding-top:0; width: 74%; display:flex; flex-direction:row-reverse">
<button type="submit" class = "CreateExcerise" style = "height:10%; width:15%" id="Btn" onclick = "DisableButton('Btn');">
Post
</button>
</div>
</form>

<script>
document.getElementById("Btn").disabled=true;
	setTimeout(() => {
		document.getElementById("Btn").disabled=false;
	}, 500); 
function DisableButton() {
	setTimeout(() => {
		document.getElementById("Btn").disabled=true;
	}, 150);  
  
  setTimeout('document.getElementById("btn").disabled=false;',60000);
  // do your heavy stuff here
}
</script>
<script>
    document.querySelectorAll('.select').forEach((el)=>{
        let settings = {};
        Select = new TomSelect(el,settings);
        {%if Default != 0 %} Select.setValue({{Default}}); console.log({{Default}});  {%endif%}
    });

</script>
{% endblock %}




