{% extends 'index.html' %}
{% block content %}
    <!--<div>
        <form action = "/search" style="display: inline-flex;width:75%; flex-direction: row" class = "searchBar" >
            <label for="Search" style="width: 39px">
                <img draggable="false" style="width: 100%;padding-top: 35%;"
                     class="Search"
                     src = "static/images/search_icon.png" alt=""
                >
            </label>
            <input class="Search" type="text"  id="Search" name="Search" placeholder="Search">
        </form>
    </div> -->

<div class = "postBlock">
    <div style = "display: inline-flex; width: 100%;">
        {%for data in ExData%}
        <div style = "width: 20%; margin-left: 0.5%;">
            <button onclick="location.href='/exercise/{{data[0]}}'" style = "width: 100%; height:100%; margin-left: 2%; padding: 7px; font-size: 16px" class = "CreateExcerise">{{data[2]}}</button>

        </div>
        {%endfor%}
        <div style = "width: 20%; margin-left: 0.5%;">
            <button onclick="location.href='/newexcersise?Default={{SearchInput}}'" style = "width: 100%; height:100%; margin-left: 2%; padding: 7px; font-size: 16px" class = "CreateExcerise">Create Excersise</button>

        </div>


    </div>




    {%for data in Data%} <!-- ID Data[0] Title Data[1] Like = data[4] Dislike Data5 -->
<div class = "post" onclick="RedirectTo('/post/{{data[0]}}')">


    <div class = "title">

        <a class = "PostTitle" href = "/post/{{data[0]}}">{{data[1]}}</a>
        <p style="margin-left: auto; margin-top: 0;color: #888888">{{data[9]}} at {{data[8]}}</p>
    </div>
    <a class = "ExcersiseTitleText" href = "/exercise/{{data[3]}}">{{data[6]}}</a>
    <div>
        <a class = "postUsername" href = "/users/{{data[7]}}">{{data[7]}}</a>
    </div>
	{% if data[2]|length > 0 %}
    <div>

        <p class="description">{{data[2]}}
        </p>
	</div>
	{%endif%}

    
    <div class = "likeBar">
         <button class = "likeButton" id="Like:{{data[0]}}"
                            onclick={%if ID == 0 %} "OpenPopUp('popUp');ChildClicked();" {%else%} "SendLike({{ID}}, 1,{{data[0]}});updateLikes('{{data[0]}}');ChildClicked();" {%endif%} >
        {{data[4]}}&nbsp👍</button>
        <button class = "likeButton" id="Dislike:{{data[0]}}"
                onclick= {%if ID == 0 %} "OpenPopUp('popUp');ChildClicked();" {%else%} "SendLike({{ID}}, -1,{{data[0]}}); updateLikes('{{data[0]}}');ChildClicked();" {%endif%} >
        {{data[5]}}&nbsp👎</button>
    </div>
</div>
    {%endfor%}

</div>
<script src = "{{url_for('static', filename='scripts/SendRequests.js')}}"> </script>
<script src = "{{url_for('static', filename='scripts/Redirect.js')}}"> </script>
{% endblock %}