<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="static/styles/Style.css">

    <title>Test</title>
</head>
<header>
    <h1> <a href="/home" style=" color: #000000; text-decoration: none;  ">
        GymSy
    </a>

	</h1>
    <div style="width: 90%;height: 80%;padding-left:40% ">
        <form action = "/search" style="display: inline-flex;width:90%;height: 80%;background-color: #FFFFFF; flex-direction: row" class = "searchBar" >
            <label for="Search" style="width: 20px">
                <img draggable="false" style="width: 100%;padding-top: 35%;"
                     class="Search"
                     src = "static/images/search_icon.png" alt=""
                >
            </label>
            <input class="Search" type="text"  id="Search" name="Search" placeholder="Search">
        </form>
    </div>
	<h1>
        <!-- Login Button
	<a class = "LoginButon" href="/user/{{Username}}">Account</a>
	-->
    <button class = "cornerButton" onclick="SwapBar()">
        <large>=</large>
    </button>

    </h1> <!-- for example -->
	
</header>







<div class = "loginPopUp" id = 'popUp'>

    <span class = "loginBackground">
        <button class = "cornerButton" style="background-color: transparent;
        display: block;
        margin-left: auto; margin-right: 2px; margin-top: 2px"  onclick="OpenPopUp('popUp')">X</button>
        <a class = "LoginText">
        Please Log In To Continue
            </a>
            <div style="align-content: center">
        <form method="POST" style="margin: 0; padding: 5% 25% 5% 25%"
              action="{{ url_for('CheckLogin') }}">
            <input type="text"
                   name="username"
                   placeholder="Username"
            style="width: 90%">
            <input type="password"
                   name="password"
                   placeholder="Password"
                   style="width: 90%;">
            <button class = "field", type="submit"
                    style="width: 90%;
            background-color: #eceded;
            height: 2em">
                Login
            </button>
        </form>
    </div>
    <div>
        <p><large> NO ACCOUNT? &nbsp; <a href="/createaccount"> Create account </a></large></p>
    </div>
    </span>

</div>



	<body style="height: 10000px">

    </div>
	<main id = "Main">

	<div class="ErrorBox">{{ mesg }}</div>


<div style = "display:flex; flex-direction: column;width: 100%;justify-content: space-between;">
<h2>
{{data[6]}}
</h2>
<h2>
Test
</h2>
</div>

	
	


<div class = "post">


    <div class = "title">

        <a class = "postTitleText" style= "font-size: min(2.2vmax,22px); text-decoration: underline" href = "/exercise/{{data[3]}}">{{data[6]}}</a>
        <p style="margin-left: auto; margin-top: 0;color: #888888">{{data[9]}} at {{data[8]}}</p>
    </div>
    <a class = "postTitleText" href = "/post/{{data[0]}}">{{data[1]}}</a>
    <div>
        <a class = "postUsername" href = "/users/{{data[7]}}">{{data[7]}}</a>
    </div>
	{% if data[2]|length > 40 %}
    <div>

        <p class="description">{{data[2]}}
        </p>
	</div>
	{%endif%}

    
    <div class = "likeBar">
        {{data[4]}} <button class = "likeButton" id="Like:{{data[0]}}" onclick= "OpenPopUp('popUp')" >&nbsp👍</button> {{data[5]}}<button class = "likeButton" id="Dislike:{{data[0]}}">&nbsp👎</button>
    </div>
	
</div>




	</main>
    <div class="sidebar" id = "SideBar">
        <Sidebar>
            <h1>
			<a class = "sideBarButton" href="">Home</a>
			</h1>
        </Sidebar>
    </div>


	
	<script src = "static/Scripts/SideBar.js"> </script>
    <script src = "static/Scripts/PopUp.js"> </script>
	</body>

	



