<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="Style.css">

    <title>Test</title>
</head>
<header>
    <h1> <a href="/home" style=" color: #000000; text-decoration: none;  ">
        GymSy
    </a>

	</h1>
	<h1>
        <!-- Login Button
	<a class = "LoginButon" href="/user/{{Username}}">Account</a>
	-->
    <button class = "cornerButton" onclick="SwapBar()">
        <large>=</large>
    </button>

    </h1> <!-- for example -->
	
</header>
	
	
	
	
	<body>
	<main id = "Main">

	
	
	
<div style = "display:flex; flex-direction: column;width: 100%;justify-content: space-between;">
<h2>
{{data[6]}}
</h2>
<h2>
Test
</h2>
</div>
	
	
	


<div class = "post">


    <div class = "title">

        <a class = "postTitleText" style= "font-size: min(2.2vmax,22px); text-decoration: underline" href = "/exercise/{{data[3]}}">{{data[6]}}</a>
        <p style="margin-left: auto; margin-top: 0;color: #888888">{{data[9]}} at {{data[8]}}</p>
    </div>
    <a class = "postTitleText" href = "/post/{{data[0]}}">{{data[1]}}</a>
    <div>
        <a class = "postUsername" href = "/users/{{data[7]}}">{{data[7]}}</a>
    </div>
	{% if data[2]|length > 40 %}
    <div>

        <p class="description">{{data[2]}}
        </p>
	</div>
	{%endif%}

    
    <div class = "likeBar">
        {{data[4]}} <button class = "likeButton" id="Like:{{data[0]}}">&nbsp👍</button> {{data[5]}}<button class = "likeButton" id="Dislike:{{data[0]}}">&nbsp👎</button>
    </div>
</div>





	</main>
    <div class="sidebar" id = "SideBar">
        <Sidebar>
            Testing
        </Sidebar>
    </div>
	<script src = "SideBar.js"> </script>
	</body>

	



